.input-name-div {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: auto;
  padding: 5px;
  width: fit-content;
}

.input-name-div p {
  color: white;
  font-family: monospace;
  font-size: large;
}

.input-name-div input {
  background-color: transparent;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 0 0 3px red;
  color: white;
  margin: 10px;
  padding: 5px;
  width: 130px;
}
