.order-filter-div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 5px 5px 10px;
  width: fit-content;
}

.radios-and-button {
  align-items: center;
  display: flex;
  gap: 5px;
}

.order-filter-div label {
  align-items: center;
  color: white;
  display: flex;
  font-family: monospace;
  font-size: large;
}

.order-filter-div select {
  background-color: transparent;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 0 0 3px red;
  color: red;
  font-family: monospace;
  font-size: 60 vh;
  height: 30px;
  margin: 10px;
  padding: 2px;
}

.order-now-button {
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 0 0 3px red;
  color: white;
  font-family: monospace;
  font-size: 60 vh;
  font-weight: 600;
  height: 30px;
  margin: 10px;
  white-space: nowrap;
  width: min-content;
}

.order-now-button:hover {
  background-color: transparent;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  height: 30px;
  width: fit-content;
}
