.order-filter-div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 5px;
  width: fit-content;
}

.radios-and-button {
  align-items: center;
  display: flex;
  gap: 5px;
}

.order-filter-div label {
  align-items: center;
  color: #7effd7;
  display: flex;
  font-family: monospace;
  font-size: large;
}

.order-filter-div select {
  background-color: #1a1710;
  border: 1px solid #7effd7;
  border-radius: 5px;
  box-shadow: 0 0 3px #7effd7;
  color: #7effd7;
  font-family: monospace;
  font-size: 60 vh;
  height: 30px;
  margin: 10px;
  padding: 2px;
}

.order-now-button {
  background-color: #1a1710;
  border: 1px solid #7effd7;
  border-radius: 5px;
  box-shadow: 0 0 3px #7effd7;
  color: #7effd7;
  font-family: monospace;
  font-size: 60 vh;
  height: 30px;
  margin: 10px;
  white-space: nowrap;
  width: min-content;
}

.order-now-button:hover {
  background-color: #7effd7;
  border: 1px solid #7effd7;
  border-radius: 5px;
  color: #1a1710;
  height: 30px;
  width: fit-content;
}
