.table {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: monospace;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.table td {
  flex-wrap: wrap;
  overflow: hidden;
}

.table td, .table th {
  border: 2px solid #1a1710;
  padding: 8px;
}

.table th {
  background-color: gold;
  color: black;
  font-size: larger;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}

tr:nth-child( even ) {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

tr:nth-child( odd ) {
  background: rgba(0, 0, 0, 0.6);
  color: #bef3fb;
}

tr:nth-child( even ):hover {
  background-color: black;
  font-weight: 800;
}

tr:nth-child( odd ):hover {
  background-color: black;
  font-weight: 800;
}

ul {
  list-style-type: none;
  padding: 0 20px;
  text-align: center;
}

ul a {
  color: gold;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
}

li {
  display: contents;
}

a:hover {
  background-color: red;
  color: #1a1710;
  font-size: medium;
  font-weight: 900;
}

.url {
  color: gold;
  font-weight: 900;
  padding: 0 20px;
  white-space: nowrap;
}
