body {
  height: 100%;
  margin: auto;
  width: 100%;
}

header {
  border-bottom: 0.5px solid #bef3fb;
  margin-bottom: 15px;
  margin-right: 0;
  width: 100%;
}

h1 {
  color: #7effd7;
  font-family: monospace;
  text-align: center;
}

