body {
  height: 100%;
  margin: auto;
  width: 100%;
}

@font-face {
  font-family: Starwars;
  src: url('../font/Starjedi.ttf');
}

header {
  border-bottom: 0.5px solid gold;
  margin-bottom: 15px;
  margin-right: 0;
  width: 100%;
}

h1 {
  color: white;
  font-family: Starwars;
  font-size: 4vh;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 3px 5px red;
}

